body{
    font-family: 'Poppins', sans-serif;
}


/* navbar */
.nav-item{
    letter-spacing: .2em;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 400;
    text-transform: capitalize;
    padding: 10px;
    font-family: 'Poppins';
}
.dropdown-item{
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Poppins';
}
/* navbar end */



/* footer */
.my_footer{
    background-color: black;
    height: 50px;
    color: whitesmoke;
}

/* footer end */


/* category */
.my_cate{
    padding-top: 15px;
}
.my_cate .mx-auto{
    color: black;
    font-size: 12px;
    font-family: 'Poppins';
}
.my_img{
    width: 100%;
    height: auto;
}
.my_title{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: 'Poppins', sans-serif;
}
.my_des{
    font-size: 12px;
    text-align: justify;
    padding: 5px;
}
.my_img_p{
    padding: 5px;
}
.banner{
    width: 100%;
    padding: 5px;
}

.card-body h3{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: 'Poppins';
    color: darkgreen;
}
.card-body p{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: 'Poppins';
}
/* category end */

/* product */
.my_prd{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: whitesmoke;
    max-width: 100%;
}
.my_prd .mx_auto{
    color: aliceblue;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Poppins';
}
.my_prod_title{
    font-size: 20px;
    color: green;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: 'Poppins';
    padding-left: 5rem;
}
.my_prod_text{
    padding-right: 20px;
    font-family: 'Poppins';
    padding-left: 5rem;
}
.prod_price{
    font-size: 24px;
    font-family: 'Poppins';
    padding-left: 5rem;

}
.prodimg{
    align-content: center;
    width: 50rem;
    height: auto;
    padding: 0%;
    margin: 0%;
}
.cart_btn{
    padding-left: 5rem;

}
.pro_stock{
    background-color: red;
    color: white;
    align-items: center;
    border-radius: 8px;
    margin-left: 5rem;
    width: 25%;
    height: 3rem;
    align-content: center;
    text-align: center;
    padding: 5px;
}
.pro_cart{
    padding-left: 5rem;
    margin-top: 5rem;
    font-family: 'Poppins';

    
}
.top_cont{
    padding: .2rem;
    padding-top: 1rem;
    text-decoration: none;
    color: green;
    font-family: 'Poppins';

}
.top_cont a{
    text-decoration: none;
    color: black;
}
.my_search{
    margin: 5rem;
    font-size: 24px;
}
.my_search b{
    color: red;
}

/* cart page */

.my_table{
    min-width: 400px;
    font-size: 14px;
}
.my_thead{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: whitesmoke;
}
.custom_a{
    text-decoration: none;
}
.custom_icon{
    text-decoration: none;
    color: orange;

}
.my_own_btn{
    margin-top: 5px;
}
.custom_img{
    width: 10rem;
}